@charset "UTF-8";

.navbar-custom {
  background-color: rgba(5,104,57,.9) !important; /*#056839*/
}
.navbar-nav > li > a {
  font-size: 1.3em;
}
button.navbar-toggle {
  color: white;
  font-size: .8em;
  border: 1px solid #ddd !important;
  padding: 3px 6px !important;
  content: "MENU";
}
h3:after {
    content: "" !important;
}
a.navbar-brand {
  padding: 5px;
}
img.logo {
  max-width:100%;
  max-height: 100%;

}
.bg-black{
    /*background-color: rgba(0,0,0,.1);*/
    background-color: rgba(151,237,138,.5);
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
i.icon-quote {
  padding-top: 5px;
}
.service-wrapper {
    padding-bottom: 50px;
}
img.img-responsive {
  width: 100% !important;
}
a.downloadDegree {
  color: #167F39;
  font-weight: bold;
}
a.downloadDegree:hover {
  color: #45BF55;
}
i.tab {
  padding-left: 10%;
}
i.tabss {
  padding-left: 2.5%;
}
i.tabs {
  padding-left: 5%;
}
i.tabl {
  padding-left: 15%;
}
.regbut>a {
  border: 1px solid #ddd;
  background-color: #044C29;
  color: #fff !important;
  margin: auto;
}
.regbut>a>* {
  color: #fff;
}
.panel .panel-heading .panel-title>a {
  letter-spacing: 0px;
}
#section-testimonial {
  /*background: rgba(0,0,0,.2);*/
}
.newscover {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  display: block;
}
.nav-tabs > li.active {
    border: 1px solid#ddd;
    border-bottom-color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs {
    border-bottom: 1px solid#ddd;
}
.nav-tabs > li {
  padding: 20px;
}
.blog-top-desc h4 {
  letter-spacing: 0px;
  font-size: 1.3em;
  line-height: 19px !important;
}
.blog-date {
  padding-top: 3px;
}
/*--------------- i am X Begin----------------------*/
.biography{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #EEEEEE;
    position: relative;
}

.biography::after{
    content: "";
    border-bottom: 1px solid #EEEEEE;
    position: absolute;
    bottom: -3px;
    width: 100%;
    border-radius: 10px;
    height: 20px;
}

.myphoto{
    position: relative;
    background: url(../images/photo-frame.png) bottom center no-repeat;
    background-size: contain;
}

.myphoto img{
    position: relative;
    width:100%;
    z-index: -1;
}

.biography ul{
    padding:25px 20px 30px;
}

.biography ul li{
    padding:5px 0;
    font-size: 16px;
    border-bottom:1px solid #EEEEEE;
}

.biography ul li:last-child{
    border-bottom:0;
}
/*--------------- i am X end -----------------------*/
@media (max-width : 991px) {
  .nav-tabs > li.active {
      border-bottom-color: #ddd !important;
      border-radius: 5px 5px 5px 5px;
  }
  .nav-tabs > li {
    width: 100%;
  }
  ul {
    border-bottom-color: transparent !important;
  }
  .tab-content {
    margin-top: 10px;
    border: 1px solid #ddd !important;
    border-radius: 5px 5px 5px 5px;
  }
}
@media (min-width : 768px) {
  img.logo.dark {
    display: none !important;
  }
  img.logo.light {
    display: block !important;
  }
  nav.navbar a.navbar-brand {
    margin: -10px 0px;
    height: 70px;
  }
  /*nav.navbar.top-nav-collapse a.navbar-brand {
    height: 40px;
  }*/
  nav.navbar.top-nav-collapse {
    padding: 20px 0;
  }
  .navbar-custom.top-nav-collapse .nav>li>a {
    color: #fff;
    font-size: 1.2em !important;
  }
  .navbar-custom .nav li a {
    font-size: 1.2em !important;
  }
  .navbar-custom.top-nav-collapse .nav li.active a {
    background-color: rgba(0,38,28,.8);
  }
  .navbar-custom.top-nav-collapse .nav li a:hover {
    background-color: rgba(4,76,41,.8);
    font-weight: normal;
  }
  .navbar-custom .nav li.active a:hover,.navbar-custom .nav li a:hover {
    background-color: rgba(4,76,41,.8);
    font-weight: normal;
  }
  .flex-caption h4 {
    font-size: 3.8em;
  }
}
@media (max-width: 767px) {
  img.logo.light {
    display: none !important;
  }
  img.logo.dark {
    display: block !important;
  }
  nav.navbar.navbar-fixed-top {
    padding: 10px 0;
  }
  nav.navbar.navbar-fixed-top .dropdown-menu>li>a {
    color: #fff;
  }
  ul.dropdown-menu {
    background-color: rgba(255,255,255,.2) !important;
  }
}
@media (max-width: 478px) and (min-width: 320px) {
  div.flex-caption {
    margin-top: 20vh;
  }
  .flex-caption h4 {
    font-size: 2.3em;
  }
}
#section-footer {
  background-color: rgba(5,104,57,.9) !important;
}
.footer-socail li a {
  border: 1px solid #ddd;
  color: #fff;
}
/* Portfolio Grid and Hover Effects */
.grid figure {
	margin: 0;
	position: relative;
	margin-top:20px;
}
ul.grid.cs-style-3 {
  padding-bottom: 20px;
}


.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(5,104,57,.8) !important;/*#000*/
	color: #ddd;

}

.grid figcaption h3 {
	font-size:1.3em;
	text-transform:uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
  margin-top: -9px;
  letter-spacing: -0.5px;
  line-height: 70%;
  font-weight: normal;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
  line-height: 150%;
  margin: 0px -15px -15px 0px;
}


.cs-style-3 figure {
	overflow: hidden;
  cursor: pointer;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-all 0.4s;
	-moz-transition: -moz-all 0.4s;
	transition: all 0.4s;
  margin: 0px !important;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img,
.cs-style-3 figure img:active {
/*	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);*/
  -webkit-filter: brightness(70%);
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption,
.cs-style-3 figure:active figcaption  {
  background-color: rgba(0,38,28,.8) !important;
}

.cs-style-3 figcaption {
	height: 65px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure figcaption,
.cs-style-3 figure figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}
/*----------- Preloader-----------*/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
}
.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.1);
}
.pre-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.pre-logo {
  position: relative;
  top: 10%;
  left: 20%;
  width: 140px;
  height: 140px;
}
.pre-logo img {
  width: 100%;
  display: block;
}
.pre-logo-text {
  position: relative;
  top: 15%;
  left: 35%;
  max-width: 60%;
}
.pre-logo-text p {
  font-size: 4em !important;
  font-family: "Raleway";
  font-weight: 900;
  line-height: 1em;
  text-align: center;
}
.text-tm {
  color: #00261C !important;
}
.pre-load {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 140px;
  height: 140px;
  font-size: 2em !important;
  font-family: "Raleway";
  text-transform: uppercase;
  color: #000;
}
.pre-load i {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -30px;
}
.pre-wrap::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
  height: 60%;
  background-color: rgba(151,237,138,.5);
}
.pre-load i img {
  display: block;
  float: left;
}
i.bg-tm{
  background-color: rgba(5,104,57,.9);
}
@media (max-width: 663px) {
  .pre-logo-text p {
    font-size: 2em !important;
  }
  .pre-load {
    font-size: 1.3em !important;
  }
}
@media (max-width: 767px) {
  .pre-logo-text {
    top: 10%;
  }
}
/*------------ Codes for sub-menu--------------------*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
@media (max-width: 767px) {
  .dropdown-submenu>.dropdown-menu {
    display:block;
    padding-left: 5%;
    margin-bottom: -5px;
    border-radius: 0;
  }
  .dropdown-submenu>.dropdown-menu>li>a:before {
    content: '- ';
  }
  .dropdown-submenu>a:after {
    display:none;
  }
}
/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
.resume-title h3{
    text-align: center;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}
.resume-title{
    margin-bottom: 30px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.resume{
    position: relative;
}

.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}
.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}
@media(min-width:992px) {
	.timeline:before {
	    left: 50%;
	}

	.timeline>li {
	    margin-bottom: 15px;
	    min-height: 100px;
	}

	.timeline>li .posted-date {
	    position: absolute;
	    text-align: center;
	    background-color: #fff;
	}

	.timeline>li .timeline-panel {
	    float: left;
	    width: 43%;
	    text-align: right;
	    border: 1px solid #eee;
	    position: relative;
	}

	.timeline-content{
	    position: relative;
	    padding: 24px;
	    background-color: #fff;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}

	.timeline-content::after{
	    border: 1px solid #eee;
	    width: 100%;
	    position: absolute;
	    content: "";
	    bottom: -3px;
	    height:10px;
	    left: 0;
	    z-index: -1;
	}

	.timeline>li .timeline-content:hover {
	    background: #68c3a3;
	    color: #fff;
	}

	.timeline>li .timeline-panel::before,
	.timeline>li.timeline-inverted .timeline-panel::before {
	    content: "";
	    top: 25px;
	    position: absolute;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	}
	.timeline>li .timeline-panel::before {
	    left: 100%;
	    border-left: 12px solid #ECECEC;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li .timeline-panel:hover::before {
	    border-left: 12px solid #68c3a3;
	}

	.timeline>li.timeline-inverted .timeline-panel::before {
	    right: 100%;
	    border-right: 12px solid #ECECEC;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li.timeline-inverted .timeline-panel:hover::before {
	    border-right: 12px solid #68c3a3;
	    border-left: 0;
	}

	.timeline>li .timeline-panel::after,
	.timeline>li.timeline-inverted .timeline-panel::after {
	    content: "";
	    top: 25px;
	    position: absolute;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	}
	.timeline>li .timeline-panel::after {
	    left: 100%;
	    margin-left: -2px;
	    border-left: 12px solid #FFFFFF;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li .timeline-panel:hover::after {
	    border-left: 12px solid #68c3a3;
	}

	.timeline>li.timeline-inverted .timeline-panel::after {
	    right: 100%;
	    margin-right:-2px;
	    border-right: 12px solid #FFFFFF;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li.timeline-inverted .timeline-panel:hover::after {
	    border-right: 12px solid #68c3a3;
	    border-left: 0;
	}

	.timeline>li .posted-date {
	    left: 50%;
	    width: 120px;
	    margin-left: -60px;
	    margin-top: 28px;
	}
	.timeline>li .posted-date .month {
	    float: none;
	}
}
.resume-section h3 {
	letter-spacing: normal;
}
h2.section-title {
	text-align: center;
}
